---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <h2> Best Web Hosting Providers </h2>
  
 <table>
   <tr>
     <td>
       Liquid Web
   </td>
     <td>
       Website Hosting, Server Hosting: Cloud, Dedicated Server, HIPAA Server, and Word Press plans, within a fully managed environment

   </td>
     <td>
      Visit Now
   </td>
   </tr>
   <tr>
     <td>
       1
   </td>
     <td>
       2
   </td>
     <td>
       3
   </td>
   </tr>
   <tr>
     <td>
       1
   </td>
     <td>
       2
   </td>
     <td>
       3
   </td>
   </tr>
   <tr>
     <td>
       1
   </td>
     <td>
       2
   </td>
     <td>
       3
   </td>
   </tr>
   <tr>
     <td>
       1
   </td>
     <td>
       2
   </td>
     <td>
       3
   </td>
   </tr>
   <tr>
     <td>
       1
   </td>
     <td>
       2
   </td>
     <td>
       3
   </td>
   </tr>
  </table>


  
  
  
  
  
  
  
  
  
  
  
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
